{% extends 'base.html' %}
{% block content %}

    <!-- Styles -->
    <!-- <link rel="stylesheet" type="text/css" href="/vendor/viima/jquery-comments/css/jquery-comments.css">-->
    <link rel="stylesheet" type="text/css" href="/static/css/jquery-comments.css">
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

    <!-- Data -->
    <!-- <script type="text/javascript" src="/vendor/viima/jquery-comments/data/comments-data.js"></script>-->
    <!-- <script type="text/javascript" src="/static/data/comments-data.js"></script>-->

    <!-- Libraries -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
    <!-- <script type="text/javascript" src="/vendor/viima/jquery-comments/js/jquery-comments.js"></script>-->
    <script type="text/javascript" src="/static/js/jquery-comments.js"></script>
    <script type="text/javascript" src="/static/js/post-comments.js"></script>

    <div class="well spaced" style="width:97%;">
          <h3>Post:</h3>
        {% if user_post %}
        <!-- make variable available to javascript for ajax call-->
          <meta id="user-post" data-user-post="{{user_post}}">
          <meta id="post-id" data-post="{{user_post.post_id}}">
        <!-- TODO: add links to user, plate, topic? -->
        <!-- TODO: put post details in one row table? -->
        <!-- TODO: make post details collapsible, collpase by default showing only one line with user, plate, topic? -->
          <table style="border-collapse: separate; border-spacing: 10px;">
            <!-- <thead> -->
          <tr  class="header">
          <td colspan="2" style="text-decoration: underline;"> [View post details] </td>
          </tr>
        <!-- </thead> -->
        <!-- <tbody style="display: none;"> -->
        <!-- <tbody class="body"> -->
          <tr><td>Event Date: </td><td> {{ user_post.event_date }}</td></tr>
          <tr><td>Posted By: </td><td> <a href="/posts/{{ user_post.user_id }}">{{ user_post.username }}</a></td></tr>
          <tr><td>Post Type: </td><td> {{ user_post.ptype }}</td></tr>
          <tr><td>Vehicle Plate: </td><td> <a href="/posts/vehicle/{{ user_post.vehicle_plate }}">{{ user_post.vehicle_plate }}</a></td></tr>
        <!-- </tbody> -->
          </table>
<!--           <p>Event Date: {{ user_post.event_date }}</p></tr>
          <p>Posted By: <a href="/posts/{{ user_post.user_id }}">{{ user_post.username }}</a></p>
          <p>Post Type: {{ user_post.ptype }}</p>
          <p>Vehicle Plate: <a href="/posts/vehicle/{{ user_post.vehicle_plate }}">{{ user_post.vehicle_plate }}</a></p> -->
          <!-- TODO: add reverse geocode of lat and long from db to display address -->         
 {#<!--            <p>Event Location: {{ user_post.location }}</p> --> #}
<!--           TODO: add ability to delete post?
          TODO: hide ability to edit post so comments are not invalidated? -->
          {% if ('user_id' in session) and (user_post.user_id == session['user_id']) %}
            <!-- <button type="button">Edit Post</button> -->
              <p><h3>Topic: 
                <a href="/posts/edit/{{ user_post.post_id }}">"{{ user_post.topic }}"</a>
              </h3></p>
          {% else %}
              <p><h3>Topic: "{{ user_post.topic }}"</h3></p>
          {% endif %}
        {% else %}
          <p>Post not found.</p>
        {% endif %}
        <h3>Comments:</h3> 
          {% if ('user_id' in session) %}
            {% if post_comments %}
              <meta id="comments-all" data-comments-all="{{post_comments}}">
              <div id="comments-container">
              </div>
            {% else %}
              <p>No comments yet.</p>
            {% endif %}
          {% else %}
              <p><a href="/login">Login to view comments.</a></p>
          {% endif %}

    </div>
<script>
  $(document).ready(function(){
    $('.header').nextUntil('tr.header').slideToggle(100);
    $('.header').click(function(){
        $(this).nextUntil('tr.header').slideToggle(100);
    });
  });
</script>
{% endblock %}