{% extends 'base.html' %}
{% block content %}

<div class="well spaced" style="width:97%;">
          <h2>Add Post</h2>
          {% if "user_id" in session %}}
          <p id="formInstructions">* All fields are required.</p>
          <form id="addPost" action="/posts/add" method="POST">
              <div class="form-group">
                <!-- TODO: restrict time entry to not future. -->
                  <label>Event Date:
                    <input type="datetime-local" id="event_date" name="event_date" required='true'
                             class="form-control input-sm">
                  </label><br>
                  <!-- TODO: add search for existing vehicle plates -->
                  <label>Vehicle plate (7 characters, 0-9, A-Z, use spaces for symbols):
                    <input type="text" name="vehicle_plate" id="vehicle_plate" maxlength="7" minlength="7" required='true'
                             class="form-control input-sm" pattern="[a-zA-Z0-9\s]+" style="text-transform: uppercase;">
                  </label><br>
                  <label>Post type:
                    <select  name="ptype" id="ptype" required='true' class="form-control input-sm">
                      <option value=""></option>
                      <option value="alert">alert</option>
                      <option value="compliment">compliment</option>
                      <option value="comment">comment</option>
                      <option value="criticism">criticism</option>
                      <option value="question">question</option>
                      <option value="suggestion">suggestion</option>
                    </select>
                  </label><br>
                  <!-- TODO: add charater count -->
                  <label>Post topic (140 characters max):
                    <input type="text" id="topic" name="topic" maxlength='140' required='true'
                             class="form-control input-sm">
                  </label><br>
                  <!-- TODO: add google location services and address search -->
                  <!-- TODO: validate form that either location or address exist in full -->
                  <label>Location (Optional: Adds ability to view post on map.):
<!--                     <input type="text" name="location" maxlength="10" minlength="5" pattern="[0-9]{5}" required='true' class="form-control input-sm"> -->
                    <input type="text" name="latitude" id="latitude" value="latitude" class="form-control input-sm" disabled>
                    <input type="text" name="longitude" id="longitude" value="longitude" class="form-control input-sm" disabled>
                    <p><button id="get-location" type="button">Get Location</button></p>
                    <!-- <p><button id="get-location" onclick="getLocation()">Get Location</button></p> -->
                  </label><br>
<!-- 
                  <label>Vehicle type:
                    <select  name="vtype" class="form-control input-sm">
                      <option value="car">car</option>
                      <option value="truck">truck</option>
                      <option value="motorcycle">motorcycle</option>
                      <option value="semi">semi</option>
                      <option value="RV">RV</option>
                      <option value="Other">Other</option>
                    </select>
                  </label><br>
                  <label>Vehicle make:
                    <input type="text" name="make"
                             class="form-control input-sm">
                  </label><br>
                  <label>Vehicle model:
                    <input type="text" name="model"
                             class="form-control input-sm">
                  </label><br>
                  <label>Vehicle color:
                    <input type="text" name="color"
                             class="form-control input-sm">
                  </label><br> -->
              </div>
              <input id="submitButton" type="button" value="Submit"
                     class="btn btn-danger">
          </form>
          
          <p id="loc-error"></p>
      {% else %}
        <p><a href="/login">Login to post, comment, vote...</a></p>
      {% endif %}

    </div>
<script src="https://code.jquery.com/jquery.js"></script>
<script>
$(document).ready(function(){
  var now=new Date();
  $('#event_date').val(new Date(now.getTime()-now.getTimezoneOffset()*60000).toISOString().substring(0,16));
// });


$('#get-location').on('click', function(event){
    event.preventDefault();
    getLocation();

    var e = document.getElementById("loc-error");
    // var latitude = document.getElementById("latitude");
    // var longitude = document.getElementById("longitude");
    function getLocation() {
      event.preventDefault();
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            e.innerHTML = "Geolocation is not supported by this browser. Your post will not be added to the map.";
        }
    }
    function showPosition(position) {
        // latitude.innerHTML = "Latitude: " + position.coords.latitude;
        // longitude.innerHTML = "Longitude: " + position.coords.longitude;
        var latitude = position.coords.latitude;
        var longitude = position.coords.longitude;
        $("#latitude").val(latitude);
        $("#longitude").val(longitude);
    }
    function showError(error) {
        switch(error.code) {
            case error.PERMISSION_DENIED:
                e.innerHTML = "User denied the request for Geolocation. Your post will not be added to the map."
                break;
            case error.POSITION_UNAVAILABLE:
                e.innerHTML = "Location information is unavailable. Your post will not be added to the map."
                break;
            case error.TIMEOUT:
                e.innerHTML = "The request to get user location timed out. Your post will not be added to the map."
                break;
            case error.UNKNOWN_ERROR:
                e.innerHTML = "An unknown error occurred. Your post will not be added to the map."
                break;
        }
    }
});

$('input#submitButton').click( function(event) {
  event.preventDefault();
  var post = $('form#addPost').serialize();
  // console.log(post);
    $.ajax({
        url: '/post_add.json',
        type: 'post',
        dataType: 'json',
        data: post,
        success: function(data) {
                   console.log(data.status);
                   var url = data.redirect;
                   window.location.href = url;
                 }
    });
});

// $('input#submitButton').click( function(event) {
//     event.preventDefault();
//     $.post( '/posts/add', $('form#addPost').serialize(), function(data) {
//           console.log(data);
//        },
//        'json' // I expect a JSON response
//     );
// });

  $('#user-post-add a').addClass("active");
  
});

</script>
{% endblock %}
